<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>

<h:body>
	<ui:composition template="/layout.xhtml">
		<ui:define name="content">
			
			<h:form>
				<h:outputLabel value="Id" />
				<h:inputText value="#{libroController.libro.id}" />
				<h:outputLabel value="Nombre Libro" />
				<h:inputText value="#{libroController.libro.nombre}" />
				<h:outputLabel value="Autor" />
				<h:inputText value="#{libroController.libro.autor}" />
				<h:outputLabel value="Numero Paginas" />
				<h:inputText value="#{libroController.libro.pagina}" />
				<h:commandButton action="#{libroController.agregarLibro()}" value="Agregar" />
			</h:form>
			
		</ui:define>
	
	</ui:composition>
</h:body>

</html>