<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>

	<ui:insert name="plantilla">
		<ui:insert name="header">
			<h1>Cabecera</h1>
		</ui:insert>
		<ui:insert name="content">
			
		</ui:insert>
		<ui:insert name="footter">
			<h1>Footer</h1>
		</ui:insert>

	</ui:insert>

</body>
</html>
