<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>

<h:body>
	<ui:composition template="/layout.xhtml">
		<ui:define name="content">
			<h:dataTable value="#{libroController.libros}" var="libro">
				<h:column>
					<f:facet name="header">Id</f:facet>
					#{libro.id}
				</h:column>
				<h:column>
					<f:facet name="header">Nombre libro</f:facet>
					#{libro.nombre}
				</h:column>
				<h:column>
					<f:facet name="header">Autor</f:facet>
					#{libro.autor}
				</h:column>
				<h:column>
					<f:facet name="header">Numero paginas</f:facet>
					#{libro.pagina}
				</h:column>
			</h:dataTable>
		</ui:define>
	
	</ui:composition>
</h:body>

</html>