<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<f:metadata>
		<f:viewParam name="id" value="#{personaController.id}"></f:viewParam>

		<f:viewAction action="#{personaController.loadData()}" />
	</f:metadata>

</h:head>
<body>
	<h:form>
	
	<h:dataTable value="#{personaController.listadoPersonas}" var="persona">
		<h:column>
			<f:facet name="header">Codigo</f:facet>
			#{persona.codigo}
		</h:column>
		<h:column>
			<f:facet name="header">Nombre</f:facet>
			#{persona.nombre}
		</h:column>
		<h:column>
			<f:facet name="header">Telefono</f:facet>
			#{persona.telefonos}
		</h:column>
		<h:column>
			<f:facet name="header">Acciones</f:facet>
			<h:commandButton action="#{personaController.editar(persona.codigo)}" immediate="true" value="Editar" />
			<h:commandButton action="#{personaController.borrar(persona.codigo)}" immediate="true" value="Borrar" />
			
		</h:column>
	
	</h:dataTable>

	<h:commandButton action="#{personaController.nuevo()}" immediate="true" value="Nuevo" />
	
</h:form>
	

</body>
</html>
