<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<h:form>
		<h1>Agregar Actor</h1>
		<div>
			<label for="id">Codigo</label>
			<h:inputText value="#{peliculaBean.actor.id}" type="text" id="id" required="true"/>
			
			<label for="nombre">Nombres</label>
			<h:inputText value="#{peliculaBean.actor.nombres}" type="text" id="nombres" required="true"/>
			
			
			<label for="nombre">Nacionalidad</label>
			<h:inputText value="#{peliculaBean.actor.nacionalidad}" type="text" id="nacionalidad" required="true"/>
			
			<label for="nombre">Edad</label>
			<h:inputText value="#{peliculaBean.actor.edad}" type="number" id="edad" required="true"/>
		</div>
		<h:commandButton action="#{peliculaBean.crearActor()}" value="Guardar Actor" />
	</h:form>
	<hr />
	<h:form>
		<h1>Agregar Genero</h1>
		<div>
			<label for="id">Codigo</label>
			<h:inputText value="#{peliculaBean.genero.id}" type="text" id="id" required="true" />
			
			<label for="nombre">Nombre</label>
			<h:inputText value="#{peliculaBean.genero.nombre}" type="text" id="nombre" required="true" />
		</div>
		<h:commandButton action="#{peliculaBean.crearGenero()}" value="Guardar Genero" />
		<h:messages globalOnly="true"/>
	</h:form>
	
	
	
	<div>
		<div>
			<h3>Lista de Actores</h3>
			<h:dataTable value="#{peliculaBean.actores}" var="actor">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
					#{actor.id}
				</h:column>
				<h:column>
					<f:facet name="header">Nombres</f:facet>
					#{actor.nombres}
				</h:column>
				<h:column>
					<f:facet name="header">Nacionalidad</f:facet>
					#{actor.nacionalidad}
				</h:column>
				<h:column>
					<f:facet name="header">Edad</f:facet>
					#{actor.edad}
				</h:column>
			</h:dataTable>
		</div>
		<div>
			<h3>Lista de Genero</h3>
			<h:dataTable value="#{peliculaBean.generos}" var="genero">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
					#{genero.id}
				</h:column>
				<h:column>
					<f:facet name="header">Nombre</f:facet>
					#{genero.nombre}
				</h:column>
			</h:dataTable>
		</div>
	</div>
</body> 

</html>


<!--
<body> 
<h1>Listado</h1>
<h:form>
	<h:dataTable value="#{mensajeBean.mensajes}" var="mensajeValor">
		<h:column>
			<f:facet name="header">Nombre</f:facet>
			#{mensajeValor.nombre}
		</h:column>
		<h:column>
			<f:facet name="header">Email</f:facet>
			#{mensajeValor.email}
		</h:column>
		<h:column>
			<f:facet name="header">Mensaje</f:facet>
			#{mensajeValor.mensaje}
		</h:column>
	</h:dataTable>
	
	<h:commandButton action="formulario" value="Regresar"></h:commandButton>
	</h:form>
</body> 
 
 -->