<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

<h:form>
	<h2>Nueva recarga</h2>
	<label>Numero de telefono</label>
	<h:inputText value="#{recargaMB.telefono}" />
	<br/>
	<label>Cuanto vas a recargar?</label>
	<h:inputText value="#{recargaMB.monto}" />
	<br/>
	<h:commandButton action="#{recargaMB.nuevaRecarga()}" value="Recargar" />
</h:form>

</body> 
</html>
