<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<link href="/testjsf/style.css" rel="stylesheet" type="text/css" />
</h:head> 
<body> 

<h:form>
  <h1 class="color">to: Mozilla</h1>

  <div id="divmain">
  
  	<div>
  		<label for="codigo">Codigo:</label>
    	<h:inputText value="#{mensajeBean.msg.codigo}" type="text" id="codigo" name="user_codigo" required="true"/>
    	<h:message for="codigo"/>
  	</div>
  
    <div>
	    <label for="name">Nombre:</label>
	    <h:inputText value="#{mensajeBean.msg.nombre}" type="text" id="name" name="user_name" required="true"/>
	    <h:message for="name"/>
    </div>

   <div>
   	 	<label for="mail">reply:</label>
    	<h:inputText value="#{mensajeBean.msg.email}" type="emial" id="mail" name="user_email" required="true"/>
		<h:message for="mail"/>
   </div>
	
    <div>
    	<label for="msg">Your message:</label>
    	<h:inputText value="#{mensajeBean.msg.mensaje}" id="msg" name="user_msg" required="true"/>
    	<h:message for="msg"/>
    </div>
 	
  	<div>
  		<h:commandButton action="#{mensajeBean.enviarMensaje()}" value="Enviar"></h:commandButton>
  		<h:messages globalOnly="true"/>
  	</div>
  	</div>
</h:form>
	
	
</body> 
</html>
