<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      > 

<h:head></h:head> 
<body> 

	<h:form>
		<h:inputText value="#{recargaMB.cedula}" />
		<h:commandButton action="#{recargaMB.listar()}" value="Buscar" />
		<h:dataTable value="#{recargaMB.cliente.recargas}" var="r">
			<h:column>
				<f:facet name="header">Cliente</f:facet>
				#{recargaMB.cliente.nombres}
			</h:column>
			<h:column>
				<f:facet name="header">Fecha</f:facet>
				#{r.fecha}
			</h:column>
			<h:column>
				<f:facet name="header">Monto</f:facet>
				#{r.monto}
			</h:column>
			<h:column>
				<f:facet name="header">Telefono</f:facet>
				#{r.telefono}
			</h:column>
		</h:dataTable>
	</h:form>
	
	
	

</body> 
</html>
