<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 


<h4>Generos Disponibles</h4>
			<h:dataTable value="#{peliculasView.generos}" var="genero">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
					#{genero.codigo}
				</h:column>
				
				<h:column>
					<f:facet name="header">Nombre</f:facet>
					#{genero.nombre}
				</h:column>
				
			</h:dataTable>
			<h:messages globalOnly="true"/>
</body> 
</html>
