<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<link href="/Movies/style.css" rel="stylesheet" type="text/css" />
</h:head> 
<body> 
<div>
	<div>
		<h:form>
			<h1>Crear Actores</h1>
			
				<label for="codigo">Codigo</label>
				<h:inputText value="#{peliculasView.actor.codigo}" type="number" id="codigo" required="true"/>
				
				<label for="nombres">Nombres</label>
				<h:inputText value="#{peliculasView.actor.nombres}" type="text" id="nombres" required="true"/>
				
				<label for="nacionalidad">Nacionalidad</label>
				<h:inputText value="#{peliculasView.actor.nacionalidad}" type="text" id="nacionalidad" required="true"/>
				
				<label for="edad">Edad</label>
				<h:inputText value="#{peliculasView.actor.edad}" type="text" id="edad" required="true"/>			
			
			<h:commandButton action="#{peliculasView.crearActor()}" value="Crear Actor" />
		</h:form>
	</div>
	
	<div>
		<h:form>
			<h1>Crear Generos</h1>
			
				<label for="codigo">Codigo</label>
				<h:inputText value="#{peliculasView.genero.codigo}" type="number" id="codigo" required="true"/>
				
				<label for="nombre">Nombre Genero</label>
				<h:inputText value="#{peliculasView.genero.nombre}" type="text" id="nombre" required="true"/>
				
			
				<h:commandButton action="#{peliculasView.crearGenero()}" value="Crear Genero" />
		</h:form>
	</div>
	<h:messages globalOnly="true"/>
</div>



	<div>
		<div>
			<h4>Actores Disponibles</h4>
			<h:dataTable value="#{peliculasView.actores}" var="actor">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
					#{actor.codigo}
				</h:column>
				<h:column>
					<f:facet name="header">Nombres</f:facet>
					#{actor.nombres}
				</h:column>
				<h:column>
					<f:facet name="header">Nacionalidad</f:facet>
					#{actor.nacionalidad}
				</h:column>
				<h:column>
					<f:facet name="header">Edad</f:facet>
					#{actor.edad}
				</h:column>
			</h:dataTable>
		</div>
		<!-- <div>
			<h4>Generos Disponibles</h4>
			<h:dataTable value="#{peliculasView.generos}" var="genero">
				<h:column>
					<f:facet name="header">Codigo</f:facet>
					#{genero.codigo}
				</h:column>
				
				<h:column>
					<f:facet name="header">Nombre</f:facet>
					#{genero.nombre}
				</h:column>
				
			</h:dataTable>
		</div> -->
	</div>
</body> 
</html>
