<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 


<h:form>
	<div>
		<h3>Enviar Mensaje</h3>
		<label for="contenido">Contenido</label>
		<h:inputText value="#{enviarMB.sms.contenido}" type="text" required="true"/>
		<label for="contenido">Destinatario : separar por comas</label>
		<h:inputText value="#{enviarMB.sms.numeros}" type="text" required="true"/>
	</div>
	<h:commandButton action="#{enviarMB.enviarMensaje()}" value="Enviar Mensaje" />
</h:form>

</body> 
</html>
