<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>

	<h:form>
		
		
		<h:panelGrid columns="2">
			<h:outputLabel value="Titulo Libro" />
			<h:inputText value="#{autorMB.libro.titulo}" />
			
			<h:outputLabel value="# Paginas Libro" />
			<h:inputText value="#{autorMB.libro.paginas}" />
			
			<br/>
			
			<h4>Busca un autor para agregar al libro</h4>
			
			<h:dataTable value="#{autorMB.libro.libroAutor}" var="la">
				<h:column>
					<f:facet name="header">Codigo Autor</f:facet>
					<h:inputText value="#{la.idBuscar}" id="idAutor">
						<f:ajax render="autordato" execute="idAutor" listener="#{autorMB.buscarAutor(la)}"/>
					</h:inputText>
					<h:outputText id="autordato" value="#{la.autor.nombres}" />
				</h:column>
			</h:dataTable>
			
			<h:commandButton action="#{autorMB.agregarAutor()}" value="Agregar Autor" />
			<br />
			
			<h:commandButton action="#{autorMB.guardarLibro()}" value="Guardar Libro" />
			
		</h:panelGrid>
		
		
	</h:form>

</body>
</html>
