<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

	<h:form>
		<h:dataTable value="#{productoMB.productos}" var="pro">
		<h:column>
			<f:facet name="header">Id</f:facet>
			#{pro.id}
		</h:column>
		<h:column>
			<f:facet name="header">Producto</f:facet>
			#{pro.nombreProducto}
		</h:column>
		<h:column>
			<f:facet name="header">Proveedor</f:facet>
			#{pro.proveedor.nombre}
		</h:column>
		<h:column>
			<f:facet name="header">Stock</f:facet>
			#{pro.stock}
		</h:column>
		<h:column>
			<h:commandButton action="#{productoMB.nuevoPedido(pro)}" value="Realizar pedido" />
			
		</h:column>
		
	</h:dataTable>
	<h:column>
			<label>Cantidad del producto  </label>
			<h:inputText value="#{productoMB.cantidad}" />
		</h:column>
	<h:outputText value="#{productoMB.mensajeServidor}" />
	<br></br>
	<h:outputText value="#{productoMB.mensajeLocal}" />
	</h:form>

</body> 
</html>
