<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

<h:form>
	
		<label>ID</label>
		<h:inputText value="#{nuevoMB.producto.id}" />
		<label>Nombre</label>
		<h:inputText value="#{nuevoMB.producto.nombreProducto}" />
		<label>Stock</label>
		<h:inputText value="#{nuevoMB.producto.stock}" />
		<label>Proveedor</label>
		<h:inputText value="#{nuevoMB.id}" />
		
		<h:commandButton action="#{nuevoMB.nuevo()}" value="Agregar producto" />
</h:form>

</body> 
</html>
