<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>

	<h:form>
		<h:inputText value="#{clienteMb.cedula}" />
		<h:commandButton action="#{clienteMb.buscar()}" value="Buscar" />

		<h:dataTable value="#{clienteMb.cliente.pagos}" var="pago">
			<h:column>
				<f:facet name="header">Id</f:facet>
				#{pago.id}
			</h:column>
			<h:column>
				<f:facet name="header">Nombres</f:facet>
				#{clienteMb.cliente.nombres}
			</h:column>
			<h:column>
				<f:facet name="header">Servicio</f:facet>
				#{pago.servicios}
			</h:column>
			<h:column>
				<f:facet name="header">Facturas Pendientes</f:facet>
				#{pago.id}
			</h:column>
			<h:column>
				<f:facet name="header">Saldo</f:facet>
				#{pago.total}
			</h:column>
		</h:dataTable>

	</h:form>

</body>
</html>
