<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

	<h1>Crear Personas</h1>
	<h:form>
		<h:panelGrid columns="3">
			<h:outputLabel value="Cedula:" for="cedula"/>
			<h:inputText value="#{personaController.persona.cedula}" id="cedula"/>
			<h:message for="cedula"/>
		</h:panelGrid>
		
		<h:panelGrid columns="3">
			<h:outputLabel value="Nombres:" for="nombres"/>
			<h:inputText value="#{personaController.persona.nombres}" id="nombres"/>
			<h:message for="nombres"/>
		</h:panelGrid>
		
		<h:panelGrid columns="3">
			<h:outputLabel value="Correo:" for="correo"/>
			<h:inputText value="#{personaController.persona.correo}" id="correo"/>
			<h:message for="correo"/>
		</h:panelGrid>
		
		<h:panelGrid columns="3">
			<h:outputLabel value="Fecha:" for="fecha"/>
			<h:inputText value="#{personaController.persona.fecha}" id="fecha">
				<f:convertDateTime pattern="MM/dd/yyyy"/>
			</h:inputText>
			<h:message for="fecha"/>
		</h:panelGrid>
		
		<h:commandButton action="#{personaController.guardar()}" value="Guardar" />
		
	</h:form>

</body> 
</html>
