<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

	<h1>Operaciones</h1>
	<h:form>
		a:
		<h:inputText id="a" value="#{operacionesBean.a}"></h:inputText>
		<h:message for="a"></h:message>
		<br></br>
		b:
		<h:inputText id="b" value="#{operacionesBean.b}"></h:inputText>
		<h:message for="b"></h:message>
		<br></br>
		r:
		<h:inputText value="#{operacionesBean.r}" />
		<br></br>
		<h:commandButton action="#{operacionesBean.calcular()}" value="Guardar"></h:commandButton>
	</h:form>

</body> 
</html>


<!-- 


<h:dataTable value="#{gedtion.libros}" var="libro">
	<h:column>
		<f:facet name"header">Codigos</f:faced>
		#{libro.codigo}
	</h:column>
	<h:column>
		<f:facet name"header">Titulos</f:faced>
		#{libro.titulo}
	</h:column>
</h:dataTable>

 -->