<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<h:head>
	<link rel="stylesheet"
		href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</h:head>
<body>



	<h:form>

		<div class="container">
			<h3>Nuevo usuario</h3>
			<label>Usuario: </label>
			<h:inputText value="#{consumerMB.usuario.usuario}" />
			&nbsp;
			<label>Password: </label>
			<h:inputSecret value="#{consumerMB.usuario.password}" />
			&nbsp;
			<h:commandButton class="btn btn-outline-primary" action="#{consumerMB.nuevoUsuario()}"
				value="Crear Usuario" />
		</div>


		<div class="container">
			<h3>Realizar Compra</h3>
			<h:dataTable class="table table-striped" value="#{consumerMB.vuelos}"
				var="vuelo">
				<h:column>
					<f:facet name="header">Id</f:facet>
					#{vuelo.id}
				</h:column>
				<h:column>
					<f:facet name="header">Origen</f:facet>
					#{vuelo.origen}
				</h:column>
				<h:column>
					<f:facet name="header">Destino</f:facet>
					#{vuelo.destino}
				</h:column>
				<h:column>
					<f:facet name="header">Costo</f:facet>
				#{vuelo.costo}
				</h:column>
				<h:column>
					<f:facet name="header">Accion</f:facet>
					<h:commandButton class="btn btn-dark" action="#{consumerMB.seleccionar(vuelo.id)}" value="Seleccionar" />
				</h:column>
			</h:dataTable>
		</div>


		<div class="container">
			<h3>Comprar Vuelo</h3>
			<label>Vuelo id: </label>
			<h:inputText value="#{consumerMB.vuelo.vuelo}" />
			&nbsp;
			<label>Codigo Descuento: </label>
			<h:inputText value="#{consumerMB.vuelo.codigo}" />
			&nbsp;
			<h:commandButton class="btn btn-outline-primary" action="#{consumerMB.nuevCompra()}" value="Realizar Compra" />
		</div>

	</h:form>
	<br/>
	<br/>
	<div class="container">
		<div class="alert alert-success" role="alert">
				<h:outputText value="#{consumerMB.respuesta.mensaje}" />
			</div>
	</div>


</body>
</html>
